ul.smap-suggest {
    color: black;
    position: relative;
    margin-top: 200px;
    margin-left: -100%;
    width:50%;
    display:block;
}
/*
ul.smap-suggest li.item span.text strong {
    display:block;
}
*/